@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 微軟正黑體;
  /*   border: solid 2px red; */
  font-size: 9px;
  text-align: center;
}

.row {
  padding-bottom: 5%;
}

body {
  background-color: #434c50;
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 40px 0;
}
/*  */

.container1 {
  padding-top: 5%;
  padding-bottom: 1%;
}

.pic {
  position: right;
  padding-top: 1%;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.pic img {
  position: right;
  padding-top: 3%;
  border-radius: 20%;
}

.pic:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
  filter: brightness(0.8) saturate(2) contrast(1) blur(6px);
}
.pic:hover .top {
  height: 250px;
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

p {
  padding-top: 4%;
  text-align: center;
}
/*  */

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

/*  */
.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}
/*  */

/* gallery1 */

.container.gallery1-container {
  background-color: #fff;
  color: #35373a;
}
.gallery1-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}
.gallery1-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}
.tz-gallery1 .row > div {
  padding: 2px;
}
.tz-gallery1 .lightbox1 img {
  width: 100%;
  border-radius: 0;
  position: relative;
}
.tz-gallery1 .lightbox1:hover:after,
.tz-gallery1 .lightbox1:hover:before {
  opacity: 1;
}

/* gallery2 */

.container.gallery2-container {
  background-color: #fff;
  color: #35373a;
}
.gallery2-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}
.gallery2-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}
.tz-gallery2 .row > div {
  padding: 2px;
}
.tz-gallery2 .lightbox2 img {
  width: 100%;
  border-radius: 0;
  position: relative;
}
.tz-gallery2 .lightbox2:hover:after,
.tz-gallery2 .lightbox2:hover:before {
  opacity: 1;
}

/* ending */
.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

/*  */